$body_margin_top: 20px;
$body_margin_bottom: 80px;
$link_color: #084B8A;
$default_text_color: #0c0c0c;
$gutter_mosaic: 5px;

*:focus {
  outline: 0 !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
  margin-top: 70px+$body_margin_top;
  margin-bottom: $body_margin_bottom;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $body_margin_bottom;
  .container {
    margin-top: 30px;
  }
}

h1, h2, h3, h4, h5, h6, p, input {
  color: $default_text_color;
}
h1, h2 {
  color: $link_color;
  font-size: 1.5rem;
  display: inline-block;
}
img {
  max-width: 100%;
}
a {
  color: $link_color;
}
a:focus,
a:hover {
  text-decoration: none;
}

.navbar-default {
  padding-top: $body_margin_top;
  background-color: #ffffff;
  border: 0;
  a.navbar-brand {
    margin-top: -14px;
  }
  .navbar-nav>li>a {
    color: $link_color;
    font-size: 1.5rem;
    padding-top: 18px;
  }
  .navbar-toggle {
    margin-top: 12px;
    border: 0;
    &:hover,
    &:focus {
      background-color: transparent;;
    }
    .icon-bar {
      background-color: $link_color;
    }
  }
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: $link_color;
  text-decoration: underline;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: $link_color;
  text-decoration: underline;
  background-color: #ffffff;
}

.list-inline.filter-horizontal li {
  a {
    color: $link_color;
    &.active {
      text-decoration: underline;
    }
  }
}
.list-inline.filter-tags li {
  margin-bottom: 10px;
  a {
    color: $link_color;
    padding: 2px 8px 3px;
    &.active,
    &:hover {
      color: #ffffff;
      background-color: $link_color;
    }
    transition: all .4s ease;
  }
}
.list-reset {
  list-style: none;
  padding-left: 0;
}

.feature {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;

  }
  .feature-text-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    letter-spacing: 0;
    font-size: 0;
    border-bottom: $gutter_mosaic solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
    transition: all .4s ease;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .feature-text {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      letter-spacing: 0.05rem;
      opacity: 0;
      transition: all .4s ease;
      h3, span {
        color: #ffffff;
      }
      h3 {
        font-size: 1.8rem;
        text-transform: uppercase;
      }
      span {
        font-size: 1.7rem;
      }
      span+span:before {
        content: ' | ';
      }
    }
  }
  &:hover {
    .feature-text-container {
      background-color: rgba(0, 0, 0, 0.8);
      .feature-text {
        opacity: 1;
        transition: all .4s ease;
      }
    }
  }
}

// Gallery
.gallery {
  line-height: 30px;
  -webkit-column-count: 3;
  -webkit-column-gap:   $gutter_mosaic;
  -moz-column-count:    3;
  -moz-column-gap:      $gutter_mosaic;
  column-count:         3;
  column-gap:           $gutter_mosaic;
}
.gallery div {
  width: 100% !important;
  height: auto !important;
  img {
    border-bottom: $gutter_mosaic solid #ffffff;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 .large-devices {
   display: none;
 }
 .small-devices {
   display: block;
 }
}
@media only screen and (min-width : 993px) {
 .large-devices {
   display: block;
 }
 .small-devices {
   display: none;
 }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  body {
    margin-top: 65px;
  }
  .navbar-default {
    padding-top: 0;
  }
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
  }
  .verticaltext {
    display: none;
  }
  .footer-sign {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count:    1;
    column-count:         1;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


.single-portfolio-title {
  margin-top: 0;
}
.prenext-box {
  height: 45px;
  .prenext-btn {
    font-size: 2.5rem;
  }
}
.verticaltext {
  position: fixed;
  left: 1%;
  top: 75px;
  width:1px;
  word-wrap: break-word;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 1.15rem;

  opacity: 0;
  transition: all .4s ease;
}




/* BLOG */
.excerpt {
  clear: both;
  margin-bottom: 1rem;
}
#sidebar {
  .sidebar-box {
    margin-bottom: 30px;
    h4 {
      line-height: 2.8rem;
      border-bottom: 1px solid lighten( $default_text_color, 5% );
    }
    input#search {
      width: 100%;
      height: 36px;
      border: none;
      outline: none;
      border-radius:0;
      transition: border .4s ease;
      border-bottom: 1px solid lighten( $default_text_color, 50% );
      &:focus {
        transition: border .4s ease;
        border-bottom: 1px solid lighten( $default_text_color, 5% );
      }
    }
  }
}


.modal-open .modal {
  background-color: #fff;
  .modal-content {
    box-shadow: none;
    border: 0;
  }
  .close {
    position: fixed;
    right: 0;
    top: 0;
    color: $link_color;
    opacity: 1;
    font-size: 3.5rem;
    font-weight: 300;
    transition: all .4s ease;
    z-index: 20000;
    &:before {
      content: "\00d7";
    }
    &:hover {
      -webkit-transform: rotate(90deg);
      transform: rotate(180deg);
      transition: all .4s ease;
    }
  }
  .container-user-image {
    position: relative;
    height: 300px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .modal-backdrop {
    background-color: #fff;
    transition: all .1s ease;
}
}
